body {
overflow-x: hidden;
background-color: #EEEEEE;
}
a, a:hover {
outline: none !important;
text-decoration: none !important;
}
button:active, button:focus {
outline: none !important;
}
button::-moz-focus-inner {
border: 0 !important;
}
header {
box-shadow: 0 0 4px;
background-color: #FFFAFA;
.icon-bar {
background-color: #000;
}
.navbar-brand {
color: #000;
font-weight: bold;
font-style: oblique;
}
ul.navbar-nav {
li a {
color: #000;
font-style: italic;
}
}
}
footer {
background-color: #000;
.navbar-brand {
color: #FFF;
font-style: oblique;
}
ul.navbar-nav {
li a {
color: #FFF;
font-style: italic;
&:hover {
color: #FFA500;
background-color: rgba(0, 0, 0, 0);
}
}
}
}
table {
width: 100%;
}
table {
thead {
th {
font-weight: bold;
text-align: center;
}
}
tbody {
td {
padding: 5px 10px;
}
}
}
.video-wrapper {
margin: 10px 0;
position: relative;
padding-bottom: 56.25%;
padding-top: 25px;
height: 0;
iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
}
.img-wrapper {
width: 100%;
margin: 10px 0;
overflow: hidden;
position: relative;
img {
width: 100%;
}
.header, 
.views, 
.date {
color: #fff;
text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.header {
position: absolute;
left: 6%;
right: 6%;
bottom: 35px;
text-align: center;
}
.date {
position: absolute;
bottom: 0;
right: 18px;
}
.views {
position: absolute;
bottom: 0;
left: 18px;
}
}
input, 
textarea {
margin: 5px 0;
padding: 0 10px !important;
}
/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767.9px) {
header {
.navbar-brand {
font-size: 24px;
}
}
footer {
.navbar-brand {
float: none;
display: flex;
justify-content: center;
font-size: 26px;
}
ul.navbar-nav {
li {
font-size: 20px;
text-align: center;
}
}
}
h1 {
font-size: 26px;
}
h2 {
font-size: 22px;
}
h3, table, p, input, textarea, ul, ol, .btn, .form-control {
font-size: 18px;
}
.img-wrapper {
.header {
font-size: 22px;
}
}
}
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.9px) {
header {
.navbar-brand {
font-size: 24px;
}
}
footer {
.navbar-brand {
float: none;
display: flex;
justify-content: center;
font-size: 28px;
}
ul.navbar-nav {
float: none;
display: flex;
justify-content: center;
li {
font-size: 22px;
}
}
}
h1 {
font-size: 32px;
}
h2 {
font-size: 26px;
}
h3 {
font-size: 20px;
}
table, p, input, textarea, ul, ol, .btn, .form-control {
font-size: 18px;
}
.img-wrapper {
.header {
font-size: 24px;
}
}
}
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.9px) {
header {
.navbar-brand {
font-size: 26px;
}
}
footer {
.navbar-brand {
float: none;
display: flex;
justify-content: center;
font-size: 30px;
}
ul.navbar-nav {
float: none;
display: flex;
justify-content: center;
li {
font-size: 24px;
}
}
}
h1 {
font-size: 34px;
}
h2 {
font-size: 28px;
}
h3 {
font-size: 22px;
}
table, p, input, textarea, ul, ol, .btn, .form-control {
font-size: 20px;
}
.img-wrapper {
.header {
font-size: 28px;
}
}
}
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
header {
.navbar-brand {
font-size: 28px;
}
}
footer {
.container {
width: auto;
display: flex;
justify-content: center;
.navbar-brand {
font-size: 32px;
margin-right: 10px;
}
ul.navbar-nav li {
font-size: 26px;
}
}
}
table, p, input, textarea, ul, ol, .btn, .form-control {
font-size: 22px;
}
.img-wrapper {
.header {
font-size: 30px;
}
}
}